#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.rootDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.table {
  width: 90%;
  border-collapse: collapse;
  background-color: #989;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.table th,
.table td {
  padding: 12px; /* Espaciado interno de las celdas */
  text-align: left; /* Alineación del texto */
  border: 1px solid #ddd; /* Borde de las celdas */
}

.table th {
  background-color: #f8f8f8; /* Color de fondo del encabezado */
  font-weight: bold; /* Texto en negrita */
}
